div{

	border-style: double;
	
	background-color: #73ff00;
	height: 300px;
	width: 300px;
	margin-bottom: 10px;
}

.adentro{

	border-style: dotted;
	background-color: red;
	display: inline-block;
	height:150px;
	width: 150px;
	margin: 30px;
	margin-right:  20px;



	
}
.segunda{
	
	height: 300px;
	width: 700px;


}

#lado{

    display: inline-block;
	

}

